<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Update Task{% else %}Create Task{% endif %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
</head>
<body>

<div class="container">
    <h1>{% if form.instance.pk %}Update Task{% else %}Create Task{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>
